@model IEnumerable<GroupProjectWebHotel.Models.Booking>

@{
    ViewData["Title"] = "My Bookings";
}

<h2>My Bookings</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheCustomer.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheCustomer.GivenName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortorder="@ViewData["NextCheckInOrder"]">
                    @Html.DisplayNameFor(model => model.CheckIn)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortorder="@ViewData["NextCostOrder"]">
                    @Html.DisplayNameFor(model => model.Cost)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheCustomer.GivenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
        </tr>
}
    </tbody>
</table>
